@import '../Styles/variables/variables';

.Main {
  max-width: 100%;
  height: 100vh;
  background-color: $background-main;
  display: flex;
}

.Title {
  position: absolute;
  top: 0;
  left: 7rem;
  font-size: 1.5rem;
}
