.Menu {
  border-left: 0.1rem solid #b0c4de;
  margin-left: 1rem;
  padding: 1rem;
}

.Block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Legend {
  background-color: #ffb300;
  height: 4rem;
}
