.Container {
  position: relative;
}

.XAxis {
  position: absolute;
  left: 50%;
}

.YAxis {
  position: absolute;
  left: 0;
  top: 50%;
  transform: rotate(-90deg)
}

.XAxisLabel {
  position: absolute;
  right: 16rem;
  bottom: 0.3rem;
  p {
    font-size: 0.8rem;
  }
}

.YAxisLabel {
  position: absolute;
  left: 0.6rem;
  top: 0;
  p {
    font-size: 0.8rem;
  }
}

.YearLabel {
  position: absolute;
  right: 24rem;
  top: 6rem;
  height: 2rem;
  width: 4rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
