.XAxis {
  position: absolute;
  bottom: 1rem;
  left: 35%;
}

.YAxis {
  position: absolute;
  left: 0;
  top: 50%;
  transform: rotate(-90deg);
}

.YearLabel {
  position: absolute;
  right: 24rem;
  top: 6rem;
  height: 2rem;
  width: 4rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
