@import '../../../Styles/variables/variables';

.Card {
  position: fixed;
  padding: 3rem 3.5rem;
  top: 3rem;
  left: 4.5rem;
  right: 1rem;
  bottom: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 5px 20px 0 rgba(176, 195, 211, 0.16);
  background-color: #ffffff;
  transition: transform 0.3s ease-out;
  overflow-y: scroll;
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(+200%);
}
