.Header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5.5rem;
  margin-right: 3rem;
  width: calc(100% - 7rem);
  height: 3.4rem;
  top: 0;
}

.Title {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
